@import '_homepage.scss';
@import '_nav.scss';
@import '_login.scss';
@import '_footer.scss';
@import '_contact.scss';
@import '_mediaQuery.scss';

* {
  box-sizing: border-box;
} 

body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  line-height: 1.5;
  // font-family: 'Avenir', Helvetica, sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
  color: rgb(10, 10, 71);

}

.info-images {
  img {
  margin: 10px;
  width: 250px;
  }
}

.map-container {
  width: 100%;
  height: 600px;
  border: 1px solid darkcyan;
  margin-left: 5%;
}

.people-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  p {
    margin: 10px;
  }
  img {
    width: 150px;
    height: 200px;
    border-radius: 100px;
  }
}

.icon {
  font-size: 50px;
  color: #196ed8;
}

.vertical-groups {
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.history-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  li {
    margin: 10px;
    list-style: none;
  }
  button {
    width: 25px;
    border-radius: 100%;
    background-color: #d10442;
  }
  button:active {
    background-color: yellowgreen;
  }
  li:hover {
    color: yellowgreen;
  }
  li:active {
    color: yellowgreen;
  }
}
.village-info {
  width: 50%;
img {
  width: 10%;
}
}
.popup-text {
  width: 50%;
  height: 500px;
  padding: 10px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  overflow-y: scroll;
  overflow: scroll;
  white-space: normal;
  text-align: left;
  margin-bottom: 50px;
  margin-left: auto;
  h1 {
    text-align: center;
  }
  hr {
    width: 90%;
  }
}

.illustration-container {
  h1 {
    text-align: left;
  }
  text-align: center;
  margin-top: 5%;
  img {
    width: 60%;
    height: auto;
    text-align: center;
  }
}

.container-village {
  width: 100%;
  display: flex;
  .popup-text {
    margin-top: 100px;
  }
}